@media only screen and (max-width: 960px) {
  .stats__block {
    width: 80%;
    margin: 0 auto 1rem auto;
  }

  .tns-controls {
    right: 50%;
    left: auto;
  }

  .section--summary {
    border-radius: 0;
  }

  .section--summary:after {
    display: none;
  }

  .section--snippets {
    margin: 8rem auto;
    text-align: center;
  }

  .section--snippets > .flex--horizontal {
    flex-direction: column;
  }

  .section--snippets:before,
  .section--snippets:after {
    display: none;
  }

  .section--snippets .snippets__cards {
    transform: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section--snippets .snippets__card {
    flex: 0.18;
    flex-direction: column;
  }

  .section--snippets .snippets__card p {
    margin-right: 0;
  }

  .section--snippets .snippets__card:hover {
    transform: translate3d(0px, -10px, 0px);
  }

  .snippets__description {
    column-count: 2;
    text-align: left;
  }
}
