@media only screen and (max-width: 770px) {
  .nav--desktop {
    display: none;
  }

  .nav--mobile {
    display: block;
  }

  .section--snippets {
    margin: 3rem auto;
    text-align: center;
    padding-top: 0;
  }

  .section--snippets > .flex--horizontal {
    padding: 1.4rem;
  }

  .section--snippets:before,
  .section--snippets:after {
    display: none;
  }

  .section--hero .flex--horizontal {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .section--hero .flex_child--horizontal:first-of-type {
    padding: 30% 2rem 2rem 2rem;
  }

  .section--hero .flex_child--horizontal:first-of-type h1 {
    margin-bottom: 30%;
  }

  .section--hero .flex_child--horizontal:last-of-type {
    max-width: 300px;
    margin: auto;
    display: none;
  }

  .section--hero .cta {
    margin: 1.4rem auto 0 auto;
  }

  .section--summary {
    border-radius: 0;
    margin-top: 0rem;
  }

  .section--features > .flex--horizontal {
    flex-direction: column;
    justify-content: center;
  }

  .section--features .features__image {
    align-self: center;
    margin-bottom: 2rem;
  }

  .section--features .features__left,
  .section--features .features__right {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .section--features .features__left .svg,
  .section--features .features__right .svg {
    margin-right: 0.7rem;
  }

  .section--features .features__left > .flex--vertical,
  .section--features .features__right > .flex--vertical {
    margin: 0.5rem 0;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }

  .section--features .features__left {
    order: 2;
    padding-right: 0;
  }

  .section--features .features__right {
    order: 3;
    padding-left: 0;
  }

  .section--stats {
    margin: 5rem auto;
  }

  .section--integrations > .flex--horizontal {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section--integrations .logo {
    max-width: 100px;
    margin: 1rem;
  }

  .section--customers {
    padding: 2rem 0;
  }

  .section--customers .tns-controls {
    right: 10%;
    top: 4.5rem;
    bottom: auto;
  }

  .section--customers .slide {
    flex-direction: column;
  }

  .section--customers .slide__content {
    margin: 0;
    max-width: 80%;
    height: max-content;
    justify-content: stretch;
    padding: 3rem 1.6rem;
  }

  .section--customers .slide__image {
    width: 100px;
    height: 100px;
    margin: 0 0 -2rem 1.2rem;
    order: -1;
    z-index: 1;
  }
}
