@media only screen and (max-width: 480px) {
  .snippets__description {
    column-count: 1;
    text-align: center;
  }

  .section--customers .tns-controls {
    right: 5%;
  }

  .input-button {
    width: 40%;
  }

  .section--contact {
    padding: 5rem 1rem;
  }

  .form-group {
    max-width: none;
    width: auto;
  }
}
